{% extends 'layouts/layout.twig' %}

{% block content %}

    <ol>
        {% for story in stories %}
            <li>
                {% include 'story/_story_summary.twig' with {story: story} %}
            </li>
        {% endfor %}
    </ol>

{% endblock %}
